.todo-box:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.loading-off {
    display: none;
}

.loading-on {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 40%;
    margin: -50px 0 0 -50px;
    line-height: 100px;
    font-size: 60px;
    color: #eee;
    text-align: center;
    background-color: rgba(50, 50, 50, .8);

}
